<!--pages/myOrder/myOrder.wxml-->
<!-- <view class="top">累计使用：<text>{{count}}</text> 次</view> -->
<!-- 引入过滤器 -->
<wxs src="../../utils/filter/filter.wxs" module="filter" />
<view class="header-tabs">
  <view class="item {{selectedTab == '1'?'selected':''}}" data-select="1" bindtap="selectTab">
    <text>进行中</text>
  </view>
  <view class="item {{selectedTab == '2'?'selected':''}}" data-select="2" bindtap="selectTab">
    <text>已完成</text>
  </view>
</view>
<view style="height:{{touchMoveHeight}}px"></view>
<scroll-view scroll-y class="list" bindscrolltolower="lower" bindscroll="bindscroll" bindtouchstart="touchStart" bindtouchend="touchEnd" catchtouchmove="touchMove" style="height:{{boxHeight}}px">
  <block wx:for="{{List1}}" wx:key="year" wx:for-item="data" wx:if="{{List1.length>0 && selectedTab == '1'}}">
    <view class="title">
      <view class="line"></view>
      <view class="text">{{data.year}}</view>
      <view class="line"></view>
    </view>
    <block wx:for="{{data.list}}" wx:key="date" wx:for-item="list">
      <view class="date">{{list.date}}</view>
      <block wx:for="{{list.item}}" wx:key="id" wx:for-item="item">
        <view class="item {{index>0?'borderTop':''}}" 
        data-ordernum="{{item.ordernum}}" bindtap="orderDetails">
          <view class="type">
            <text>{{item.type}}</text>
          </view>
          <view class="time">
            <text>{{item.time}}</text>
            <text>  ·  </text>
            <text>{{filter.Hm(item.timeCount)}}分钟</text>
          </view>
          <view class="expend">
            <text>{{filter.numToFixed(item.expense)}}元 </text>
            <text class="iconfont icon-dayuhao1"></text>
          </view>
        </view>
      </block>
    </block>
  </block>
  <block wx:for="{{List2}}" wx:key="year" wx:for-item="data" wx:if="{{List2.length>0 && selectedTab == '2'}}">
    <view class="title">
      <view class="line"></view>
      <view class="text">{{data.year}}</view>
      <view class="line"></view>
    </view>
    <block wx:for="{{data.list}}" wx:key="date" wx:for-item="list">
      <view class="date">{{list.date}}</view>
      <block wx:for="{{list.item}}" wx:key="id" wx:for-item="item">
        <view class="item {{index>0?'borderTop':''}}" 
        data-ordernum="{{item.ordernum}}" bindtap="orderDetails">
          <view class="type">
            <text>{{item.type}}</text>
          </view>
          <view class="time">
            <text>{{item.time}}</text>
            <text>  ·  </text>
            <text>{{filter.Hm(item.timeCount)}}分钟</text>
          </view>
          <view class="expend">
            <text wx:if="{{item.repairs}}">{{filter.numToFixed(item.spend + item.repairs.claim)}}元 </text>
            <text wx:if="{{!item.repairs}}">{{filter.numToFixed(item.spend)}}元 </text>
            <text class="iconfont icon-dayuhao1"></text>
          </view>
        </view>
      </block>
    </block>
  </block>
  <view class="noData" wx:if="{{(List1.length==0 && selectedTab == '1') || (List2.length==0 && selectedTab == '2')}}">
    <image src="/images/home_orderlist_img_n.png" mode="widthFix"></image>
    <view><text>暂无订单</text></view>
  </view>
  <view class="loadall" wx:if="{{loadAll && ((List1.length>0 && selectedTab == '1') || (List2.length>0 && selectedTab == '2'))}}">已加载全部</view>
</scroll-view>
