/* pages/login/phoneLogin.wxss */
page {
  width:100%;
  height:100%;
  background:linear-gradient(41deg,rgba(32,86,222,1),rgba(49,135,255,1),rgba(48,150,249,1),rgba(44,120,246,1));
  box-sizing: border-box;
  overflow: hidden;
}

.wrap1 {
  width:590rpx;
  height:660rpx;
  background:rgba(255,255,255,1);
  border-radius:10rpx;
  position: relative;
  margin: 320rpx auto 0;
}
.wrap2 {
  width:530rpx;
  height:570rpx;
  background:rgba(255,255,255,0.7);
  border-radius:10rpx;
  position: absolute;
  left: 30rpx;
  bottom: -10rpx;
  z-index: -1;
}
.wrap3 {
  width:476rpx;
  height:510rpx;
  background:rgba(255,255,255,0.3);
  border-radius:10rpx;
  position: absolute;
  left: 27rpx;
  bottom: -10rpx;
  z-index: -2;
}
.wrap4 {
  width:426rpx;
  height:460rpx;
  background:rgba(255,255,255,0.1);
  border-radius:10rpx;
  position: absolute;
  left: 25rpx;
  bottom: -10rpx;
  z-index: -3;
}
.wrap1 .logo {
  width:206rpx;
  height:206rpx;
  border:4rpx solid rgba(255,255,255,1);
  border-radius:50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap1 .logo image {
  width: 160rpx;
  height: 160rpx;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBox {
  width: 100%;
  padding: 170rpx 65rpx 70rpx;
  box-sizing: border-box;
  overflow: hidden;
}
.loginBox .phoneNumber {
  width: 100%;
  height: 72rpx;
  line-height: 72rpx;
  color: #282828;
  font-size: 28rpx;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 10rpx;
  margin-bottom: 37rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  float: left;
}
.loginBox .code {
  width: 270rpx;
  height: 72rpx;
  line-height: 72rpx;
  color: #282828;
  font-size: 28rpx;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 10rpx;
  margin-bottom: 37rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  float: left;
}
.loginBox .getCode {
  width:180rpx;
  height:72rpx;
  line-height: 72rpx;
  color: #3096F9;
  font-size: 28rpx;
  background: #FFF;
  border:1px solid #3096F9;
  border-radius:10rpx;
  padding: 0;
  float: right;
}
.loginBox .getCoding{
  color: #707070;
  background:#B8B8B8;
  border: 1rpx solid #FFF;
}

.phoneLogin {
  width: 460rpx;
  height: 72rpx;
  line-height: 72rpx;
  color: #FFF;
  font-size: 30rpx;
  text-align: center;
  background: #3096F9;
  border: none;
  border-radius:35rpx;
  box-shadow:0px 3rpx 8rpx 0px #3096F9;
  margin: 0 auto;
  display: block;
}
.wechatLogin {
  width: 100%;
  color: #3096F9;
  font-size: 22rpx;
  text-align: center;
  margin-top: 70rpx;
}

.privacy {
  width: 100%;
  color: #FFF;
  font-size: 20rpx;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 70rpx;
}
.privacy text {
  font-size: 20rpx;
  color: #FFF;
  margin-right: 10rpx;
}