<!--pages/shop/shop.wxml-->
<!-- 引入过滤器 -->
<wxs src="../../utils/filter/filter.wxs" module="filter" />
<view class="header" bindtap="storeInfo">
  <view class="portrait">
    <image wx:if="{{resData.Shop.urlMen}}" src="{{Host + '/'+ resData.Shop.urlMen}}" mode="aspectFill"></image>
  </view>
  <view class="storeInfo">
    <text class="storename">{{resData.Shop.shopName}}</text>
    <text class="nickname">{{resData.Shop.linkman}}</text>
    <text class="phonenumber">{{resData.Shop.linkphone}}</text>
  </view>
  <view class="jiantouR">
    <text class="iconfont icon-dayuhao1"></text>
  </view>
</view>

<view class="content">
  <view class="mySwiper" bindtap="openTest">
    <swiper indicator-dots="{{indicatorDots}}" indicator-color="rgba(102,102,102,0.3)" indicator-active-color="rgba(102,102,102,1)" autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}" circular="{{circular}}">
      <block wx:for="{{shopImg}}" wx:key="swiper" wx:for-item="item">
        <swiper-item>
          <image style="max-width:100%;max-height:402rpx;" src="{{Host + '/' + item}}" class="slide-image" mode="aspectFit" />
        </swiper-item>
      </block>
    </swiper>
  </view>
  <view class="shopInfo">
    <view class="type">{{resData.renSet.type}}</view>
    <view class="intro1">
      <view class="rent"><text class="cF70606">￥</text><text class="cF70606 money">{{filter.numToFixed(resData.renSet.startPrice)}}</text> /小时</view>
      <view>押金：￥<text>{{filter.numToFixed(resData.renSet.deposit)}}</text></view>
    </view>
    <view class="intro2">起始租金：￥<text>{{filter.numToFixed(resData.renSet.startPrice)}}</text>/小时     续租：￥<text>{{filter.numToFixed(resData.renSet.renew)}}</text>/半小时</view>
  </view>
</view>

<!-- <view class="more" bindtap="moreShop">更多商品 <text class="iconfont icon-dayuhao1"></text></view> -->

<view class="nextButton" bindtap="unlock" style="margin-top:30rpx;">立即租赁</view>