<!--pages/withdrawal/withdrawal.wxml-->
<!-- 引入过滤器 -->
<wxs src="../../utils/filter/filter.wxs" module="filter" />
<view class="withdrawal">
  <view>账户余额将提现到微信</view>
  <view class="balance">
    <text>￥</text>
    <input type="digit" value="{{money}}" bindinput="moneyChange"></input>
  </view>
  <view class="bottom">
    <text>可提现额度：{{filter.numToFixed(accountBalance - cantWithdrawal)}}</text>
    <navigator class="withdrawalHistory" url="/pages/withdrawalHistory/withdrawalHistory" hover-class="navigator-hover">提现记录</navigator>
  </view>
</view>

<view class="prompt">
  <view>说明：</view>
  <view>·不可提现额度<text bindtap="notWithdrawal"> {{filter.numToFixed(cantWithdrawal)}} 元</text></view>
  <view>·冻结押金不可提现</view>
  <view>·若今后使用充值返利，此充值及返利金额不可提现</view>
</view>


<view class="nextButton" bindtap="withdrawal">确认提现</view>
