<!--pages/help/help.wxml-->
<view class="top"></view>
<scroll-view scroll-y class="list" style="height:{{boxHeight}}px">
    <block wx:for="{{list}}" wx:key="id" wx:for-item="item">
      <view class="item">
        <view class="header" data-index="{{index}}" bindtap="changeToggle">
          <view class="id">
            <image src="/images/qaIcon.png" mode="widthFix"></image>
            Q{{index + 1}}
          </view>
          <view class="title">{{item.title}}</view>
          <view><text class="iconfont {{item.selected?'icon-zhankaisvg':'icon-shouqi_m'}}"></text></view>
        </view>
        <view class="content" wx:if="{{item.selected}}">
          <block wx:for="{{item.content}}" wx:key="des" wx:for-item="content">
            <view class="{{index>0?'marginT70':''}}" wx:if="{{content.des!=''}}"><text>{{content.des}}</text></view>
            <image wx:if="{{content.img!=''}}" src="{{content.img}}" mode="widthFix"></image>
          </block>
        </view>
      </view>
    </block>
</scroll-view>

<view class="feedback" bindtap="scanCode">意见反馈</view>